.comment-reader-img {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    top: 1px;
    position: relative;
    left: -3px;
}

.comment-img-username-container {
    display: flex;
}

.comment-border {
    display: block;
    position: absolute;
    top: 23px;
    left: -1px;
    width: 3px;
    height: calc(100% - 27px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

.comment-username {
    font-weight: bold;
    font-size: small;
    padding-top: 1px;
}

.comment-icon {
    color: gray;
    margin-right: 5px;
}

.highlight-comment-actions-container {
    display: flex;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.comment-body {
    margin-top: 2px;
    margin-bottom: 4px;
}

.comment-actions-container {
    display: flex;
    margin-bottom: 2px;
}

.reply-area {
    margin-top: 4px;
    margin-bottom: 5px;
}