.modal-thread {
  height: fit-content;
  overflow: hidden;
  background-color: silver;
  border: 2px solid tan;
  transition: max-height 0.5s;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: absolute;
}

.modal-thread-open {
  overflow: scroll;
}

.modal-highlights-container {
  display: flex;
  margin-left: 2px;
  width: 100%;
  max-width: 1000px;
  justify-content: space-evenly;
  max-height: 250px;
  margin: auto;
  margin-bottom: 10px;
}