.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  overflow: scroll;
}

.modal-child-container {
  padding: 20px;
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.modal-child {
  width: fit-content;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 17px;
}