.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  overflow: scroll;
}

.modal-child {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 17px;
  padding-top: 8%;
  padding-bottom: 8%;
}