.notification-button {
    width: 31px;
    height: 31px;
    border-radius: 100px;
    background-color: antiquewhite;
    outline: none;
}

.notifications-dd-container {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: right;
    margin-right: 20px;
    outline: none;
}

.profile-link {
    text-decoration: none;
    color: black;
}

.notifications-drop-down-container {
    position: absolute;
    right: -5px;
    margin-top: 2px;
}

.drop-down-username {
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    padding-right: 10px;
}

.drop-down-arrow-container {
    height: 5px;
    width: auto;
}

.notifications-drop-down-arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid antiquewhite;
    float: right;
    margin-right: 15px;
}

.notifications-drop-down-contents {
    background: antiquewhite;
    min-width: 300px;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-top: 3px;
    border-radius: 1px;
}

.notifications-drop-down-content {
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
}

.drop-down-content:hover {
    cursor: pointer;
}

.inner-contents-container {
    margin-top: 5px;
    text-align: left;
}

.drop-down-hr {
    margin: 0px;
    position: absolute;
    width: 95px;
}

.notifications-red-dot {
    border-radius: 50px;
    background-color: red;
    position: absolute;
    right: 19px;
    bottom: -4px;
    color: antiquewhite;
    font-size: 11px;
    min-width: 14px;
    min-height: 14px;
}

.notifications-count {
    padding-left: 4px;
    padding-right: 4px;
}

.faBell-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);
    color: orange
}