.community {
    display: grid;
    grid-template-columns: repeat(auto-fill, 205px);
    grid-gap: 1rem;
    justify-content: center;
    padding: 2rem;
    width: 80vw;
    margin: 0 auto;
    list-style: none;
}

.reader-container {
    transition: 0.3s;
    height: 300px;
    min-width: 205px;
    min-height: 295px;
    margin-top: 2%;
    text-decoration: none;
    color: antiquewhite;
}

.reader-img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}